.heroSection {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/images/Hero.png'); 
    transition: opacity 0.5s ease;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    text-align: center;
    color: var(--primary-color);
    padding-bottom: 4rem;
    transform: translateY(2rem); 
}

.separatorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.separator {
    border-top: 10px solid var(--primary-color);
    flex-grow: 1;
    opacity: 0.85;
    height: 10px;
}

.separatorLeft {
    transform: translateX(-2rem);
}

.separatorRight {
    transform: translateX(2rem);
}

.heading {
    font-size: 4rem; 
    font-weight: bold;
    opacity: 0.85;
}

.button {
    margin-top: 2rem;
    opacity: 0.85;
}


.welcomeText {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.headingLarge {
    font-size: 4rem;
}

.headingSmall {
    font-size: 3rem;
    font-weight: 600;
}

@media (max-width: 1024px) {
    .headingLarge {
        font-size: 3.2rem; 
        font-weight: 600;
    }

    .separatorLeft {
        transform: translateX(-1rem); 
    }

    .separatorRight {
        transform: translateX(1rem); 
    }
}

@media (max-width: 768px) {
    .content {
        padding-bottom: 2rem; 
        transform: translateY(1rem); 
    }

    .separatorContainer {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .heading {
        font-size: 4.5rem; 
    }

    .separatorLeft {
        display: none; 
    }

    .separatorRight {
        display: none; 
    }

    .button {
        margin-top: 1.5rem; 
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 2.8rem; 
    }
}
