.container {
    display: flex;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    gap: 3rem;
    color: var(--primary-color);
  }
  
  .detailsContainer {
    margin-bottom: 20px;
    flex: 3;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .iconContainer {
    font-size: 45px;
    color: white;
    height: 80px;
    width: 80px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .titleContainer {
    flex: 1;
    margin-left: 20px;
  }
  
  .title {
    font-size: 24px;
    margin: 0;
  }
  
  .createdDate {
    font-size: 14px;
    color: #888;
  }
  
  .dueDateContainer {
    text-align: right;
    flex-basis: 100%;
  }
  
  .dueDate {
    font-size: 16px;
    font-weight: bold;
  }
  
  .descriptionContainer {
    max-width: 900px;
    margin: 20px auto 0 auto;
  }
  
  .descriptionContainer p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--primary-color);
    font-family: 'Metrophobic', sans-serif;
    white-space: pre-wrap;
  }
  
  .formContainer {
    margin-top: 20px;
    flex: 1;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: fit-content;
    background-color: #f9f9f9;
    padding: 15px;
  }
  
  .formTitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .label {
    font-size: 16px;
  }
  
  .fileInput {
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px; 
    font-size: 14px; 
    width: 100%; 
    background-color: #f9f9f9; 
    cursor: pointer; 
  }
  
  .submitButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .fileList {
    margin-top: 20px;
  }
  
  .fileList ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .fileList li {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .fileItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .fileIcon {
    font-size: 20px;
    color: var(--primary-color);
  }
  
  .fileLink {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 16px;
    margin-left: 5px;
  }
  
  .fileLink:hover {
    text-decoration: underline;
  }
  
  .downloadIcon {
    font-size: 20px;
    color: green; 
    cursor: pointer;
    margin-left: 1rem;
  }
  
  .deleteIcon {
    font-size: 20px;
    color: red; 
    cursor: pointer;
    margin-left: 1rem;
  }
  
  .warningMessage {
    color: red;
    font-size: 16px;
    margin-top: 10px;
  }
  
  @media (max-width: 600px) {
    .dueDateContainer {
      text-align: left;
      margin-top: 30px;
      font-size: 1.2rem;
    }
  
    .container {
      flex-direction: column;
    }
  
    .formContainer {
      max-width: 100%;
    }
  }
  