
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    color: var(--primary-color);
    background-color: white;
    padding: 2rem;
  }
  
  .headingPrimary {
    color: #123962; 
    font-size: 2.5rem;
    font-weight: 700; 
    margin-bottom: 2rem;
    font-family: 'Merriweather', serif; 
    text-align: left;
  }
  
.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.acceptBtn, .rejectBtn {
  padding: 0.4rem 0.75rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: .8rem;
  color: #fff;
  margin-right: 1rem;
}

.acceptBtn {
  background-color: var(--primary-color); 
}

.rejectBtn {
  background-color: #ff0000; 
}

@media (max-width: 768px) {
  .container {
    padding: 1rem;
  }

  .headingPrimary {
    font-size: 1.75rem; 
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 440px;
  max-width: 90%;
  color: var(--primary-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  margin-bottom: 10px;
  font-family: 'Metrophobic', sans-serif;
}

.form input, .form select {
  margin-top: 2px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-left: 30px;
}

.addButton {
  background-color: var(--primary-color);
  color: white;
  height: 41px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #063568e0;
}
