
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    color: var(--primary-color);
    background-color: white;
    padding: 2rem;
  }
  
  .headingPrimary {
    color: #123962; 
    font-size: 2.5rem;
    font-weight: 700; 
    margin-bottom: 2rem;
    font-family: 'Merriweather', serif; 
    text-align: left;
  }
  

  @media (max-width: 768px) {
    .container {
      padding: 1rem;
    }
  
    .headingPrimary {
      font-size: 1.75rem; 
    }
}
  