
.floatingButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-decoration: none;
  }
  
  .floatingButton:hover {
    background-color: #3b1e86;
  }
  
  .floatingButton:active {
    background-color: #3b1e86;
  }
  