.pagination {
    display: flex;
    justify-content: flex-start;
    margin-left: 4rem;
  }
  .pagination button {
    background-color: #0A497E;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  .pagination .active {
    background-color: #004BA0;
  }
  .pagination button:disabled {
    background-color: #ccc;
  }

  @media (max-width: 480px) {
    .pagination {
        margin-left: 0px;
       align-self: center;
      }
  }
