.accordion {
    margin-bottom: 1rem;
    color: var(--primary-color);
  }
  
  .accordionHeader {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 0.5rem;
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .accordionContent {
    padding: 1rem;
    border: 1px solid #ddd;
    border-top: none;
    background-color: #fff;
  }
  
  .accordionContent ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .accordionContent li {
    margin-bottom: 0.5rem;
  }
  
  .accordionContent a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  .accordionContent a:hover {
    text-decoration: underline;
  }
  
  .arrow {
    transition: transform 0.3s ease;
    margin-right: 10px;
    transform: rotate(180deg);
  }
  
  .open {
    transform: rotate(0deg);
  }
  