.headingPrimary {
    color: var(--primary-color); 
    font-size: 2.5rem;
    font-weight: 700; 
    font-family: 'Merriweather', serif; 
    text-align: left;
}

.headingSecondary {
    color: var(--primary-color); 
    font-size: 1.5rem; 
    font-weight: 600; 
    margin-bottom: 2rem;
    font-family: 'Merriweather', sans-serif;
    text-align: left;
}

.btnClick {
  background-color: var(--secondary-color); 
  color: var(--primary-color);            
  border: none;        
  margin-right: .5rem;    
  margin-top: 1rem;
  padding: 8px 16px;    
  border-radius: 4px;  
  cursor: pointer; 
  font-size: 16px;  
  text-align: center;
  text-decoration: none; 
  font-family: 'Metrophobic', sans-serif;
  display: inline-block; 
}

.btnClick:hover {
  background-color: #65a5ba; 
}

.btnClick:disabled {
  background-color: #c0c0c0; 
  cursor: not-allowed;     
}

.headingTertiary {
    color: var(--primary-color); 
    font-size: 2rem; 
    font-weight: 600; 
    margin-top: 7rem;
    margin-bottom: 1rem;
    font-family: 'Merriweather', sans-serif;
    text-align: left;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.acceptBtn, .rejectBtn {
  padding: 0.4rem 0.75rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: .8rem;
  color: #fff;
  margin-right: 1rem;
}

.acceptBtn {
  background-color: var(--primary-color); 
}

.rejectBtn {
  background-color: #ff0000; 
}

.content {
    padding: 2rem;
    color: var(--primary-color);
    width: 90%;
    margin: 0 auto;
    font-family: 'Metrophobic', sans-serif;
}

.text {
    color: var(--primary-color);
    font-family: 'Metrophobic', sans-serif;
    line-height: 1.6;
    font-size: 1.6rem;
    margin: 1rem 0;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 3rem;
}

.editButton, .deleteButton {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    transform: translateX(100px);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .editButton:hover, .deleteButton:hover {
    opacity: 0.8;
  }
  
  .editButton {
    background-color: #4caf50; 
    color: white;
  }
  
  .editButton:hover {
    background-color: #45a049; 
  }
  
  .deleteButton {
    background-color: #ff0000; 
    color: white;
  }
  
  .deleteButton:hover {
    background-color: #e53935; 
  }
  

.optionsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0;
    list-style: none;
}

.optionItem {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--primary-color);
    max-width: 300px;
    color: var(--secondary-color);
}

.optionImage {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 12px;
}

.optionHeading {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.optionText {
    font-size: 1rem;
}

.formContainer {
  margin-top: 20px;
  flex: 1;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: fit-content;
  background-color: #f9f9f9;
  padding: 15px;
}

.formTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 16px;
}

.fileInput {
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px; 
  font-size: 14px; 
  width: 100%; 
  margin-left: 0px;
  background-color: #f9f9f9; 
  cursor: pointer; 
}

.submitButton {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 1024px) {
    .headingPrimary {
        font-size: 2rem;
    }
    .headingSecondary {
        font-size: 1.3rem;
    }
    .headingTertiary {
        font-size: 1.7rem;
        margin-top: 5rem;
    }
    .content {
        width: 90%;
        padding: 1.5rem;
    }
    .optionItem {
        max-width: 100%;
        flex: 1 1 100%; 
    }
}

@media (max-width: 768px) {
    .headingPrimary {
        font-size: 1.8rem;
    }
    .headingSecondary {
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
    .headingTertiary {
        font-size: 1.5rem;
        margin-top: 4rem;
    }
    .content {
        width: 95%;
        padding: 1rem;
    }
    .optionText {
        font-size: 1.4rem;
    }
    .optionsList {
        gap: 2rem;
    }
}

@media (max-width: 480px) {
    .headingPrimary {
        font-size: 1.5rem;
    }
    .text {
      line-height: 1.4;
      font-size: 1.3rem;
      margin: 1rem 0;
  }
    .headingSecondary {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .headingTertiary {
        font-size: 1.3rem;
        margin-top: 3rem;
    }
    .content {
        width: 100%;
        padding: 1rem;
    }
    .optionItem {
        padding: 12px;
        max-width: 100%;
        flex: 1 1 100%; 
    }
    .optionText {
        font-size: 1.2rem;
    }
}

 
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modalContent {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 440px;
    max-width: 90%;
    color: var(--primary-color);
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .form label {
    margin-bottom: 10px;
    font-family: 'Metrophobic', sans-serif;
  }
  
  .form input, .form select {
    margin-top: 2px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-left: 30px;
  }
  
  .addButton {
    background-color: var(--primary-color);
    color: white;
    height: 41px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transform: translateY(-25px);
  }
  
  .addButton:hover {
    background-color: #063568e0;
  }
  