.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Merriweather', serif;
  box-sizing: border-box;
}

.logo {
  width: 80px;
  height: auto;
}

.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.menu {
  display: none;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: .8rem;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: -2rem;
  width: 100%;
  background-color: var(--secondary-color);
  padding: 1rem;
  gap: 1.5rem;
  transition: max-height 0.3s ease-in-out, background-color 0.3s ease-in-out; 
  max-height: 0;
  overflow: hidden;
  z-index: 9;
}

.spnav {
  background-color: var(--primary-color);
  color: white;
}

.spmenuItem {
  color: white;
  margin-top: 2rem;
  margin-bottom: -.5rem;
}

.spmenu {
  background-color: var(--primary-color);
}

.hamburger {
  display: block;
  cursor: pointer;
  font-size: 2rem;
  color: white;
  background: none;
  border: none;
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    gap: 5rem;
    position: static;
    max-height: none;
  }

  .menuItem {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 20px;
  }

  .menuItem {
    margin-top: 2rem;
  }

  .hamburger {
    display: none;
  }
}

@media (max-width: 767px) {
  .nav {
    justify-content: space-between;
    padding: 1rem;
  }

  .logo {
    width: 70px;
  }

  .menu.closed {
    max-height: 0;
    color: transparent;
    background-color: transparent; 
  }

  .menu.closed .menuItem {
    color: transparent;
  }

  .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    transition: max-height 0.3s ease-in-out, background-color 0.3s ease-in-out; 
    max-height: 0;
    overflow: hidden;
    margin-top: 0;
    z-index: 9;
  }

  .menu.open {
    max-height: 500px; 
    background-color: var(--secondary-color);
  }
  
  .spmenuItem {
    color: white;
  }

  .menuItem {
    font-size: 1rem;
    font-weight: 500;
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-family: 'Metrophobic', sans-serif;
    text-align: center;
  }

  .spmenu.open {
    background-color: var(--primary-color);
  }

  .hamburger.open {
    content: '✕';
  }
}
