.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    color: var(--primary-color);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
  .iconContainer {
    font-size: 45px;
    color: white;
    height: 80px;
    width: 80px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .titleContainer {
    flex: 1;
    margin-left: 20px;
  }
  
  .title {
    font-size: 24px;
    margin: 0;
  }
  
  .createdDate {
    font-size: 14px;
    color: #888;
  }
  
  .dueDateContainer {
    text-align: right;
    flex-basis: 100%; 
  }
  
  .dueDate {
    font-size: 16px;
    font-weight: bold;
  }
  
  .descriptionContainer {
    max-width: 900px;
    margin: 20px auto 0 auto;
  }
  
  .descriptionContainer h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .descriptionContainer p {
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--primary-color);
    font-family: 'Metrophobic', sans-serif;
    white-space: pre-wrap;
  }
  
  
.submissionsContainer {
    margin-top: 30px;
  }
  
  .submissionsTitle {
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 40px;
    font-weight: 600;
  }
  
  .submissionsList {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .submissionCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #faecf5;
    border: 1.5px solid var(--primary-color);
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    color: var(--primary-color);
  }
  
  .submissionInfo {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .studentName {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .studentId {
    font-size: 0.9rem;
    color: #7f8c8d;
  }
  
  .filesContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .fileItem {
    display: flex;
    align-items: center;
  }
  
  .fileIcon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: var(--primary-color);
  }
  
  .fileLink {
    color: var(--primary-color);
    font-size: 1.1rem;
    margin-left: 5px;
  }
  
  .downloadIcon {
    margin-left: 5px;
  }
  
  @media (min-width: 801px) {
    .submissionCard {
      width: 800px;
    }
  }
  @media (max-width: 600px) {
  
    .dueDateContainer {
      text-align: left;
      margin-top:30px;
      font-size: 1.2rem;
    }
  }
  