
  .layout {
    font-family: 'Metrophobic', sans-serif;
  }
  
  .header {
    position: relative;
  }
  
  .headerImage {
    width: 100%;
    height: auto;
  }
  
  .pageTitle {
    position: absolute;
    bottom: 5%;
    left: 2%;
    color: var(--primary-color);
    font-size: 2.8rem;
    font-weight: 500;
    z-index: 1;
    font-family: 'Merriweather', serif;
  }
  
  .nav {
    position: absolute;
    top: 85%;
    right: 5%;
    background-color: var(--secondary-color);
    padding: 1rem 3rem;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
  }
  
  .admissionsTitle {
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
  
  .nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    margin-bottom: 0.5rem;
  }
  
  .nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.2rem;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
  
  .active {
    text-decoration: underline;
  }
  
  .content {
    padding: 2rem;
  }
  