@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit Browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #EEC0DD;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #EEC0DD;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 6px;
}

/* Firefox */
.scrollable {
  scrollbar-width: thin;
  scrollbar-color: #123962 #f1f1f1;
}

.scrollable:hover {
  scrollbar-color: #EEC0DD #f1f1f1;
}
