.container {
    padding: 2rem;
    background-color: white;
    margin-top: 80px;
}

.headingSecondary {
    color: var(--primary-color); 
    font-size: 1.5rem; 
    margin-bottom: 0.5rem;
}

.headingPrimary {
    color: var(--primary-color); 
    font-size: 2.5rem;
    font-weight: 700; 
    margin-bottom: 1rem;
    font-family: 'Merriweather', serif; 
}

.imageContainer {
    width: 100%;
    margin-bottom: 1.5rem;
}

.newsImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: -100px;
}

.content {
    margin: 0 auto;
    line-height: 1.6;
    color: var(--primary-color);
    font-family: 'Metrophobic', sans-serif;
    line-height: 1.6;
    font-size: 1.3rem;
    width: 90%;
    margin: 1rem 0;
}
