.acceptBtn, .rejectBtn {
    padding: 0.4rem 0.75rem;
    border: none;
    position: absolute;
    color: var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    font-size: .8rem;
    color: #fff;
    bottom: 1.5rem;
    right: 1.5rem;
  }

  .acceptBtn {
    background-color: #168716; 
  }
  
  .rejectBtn {
    background-color: #ff0000; 
  }
