.profileCard {
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    text-align: center;
  }
  .profilePicture {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  .profileDetails h2 {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .profileDetails p{
    color: var(--primary-color);
    font-family: 'Metrophobic', sans-serif;
    margin-top: 30px;
    font-size: 20px;
  }

  @media (max-width: 480px) {
    .profileDetails h2 {
        font-size: 16px;
      }  
      
      .profileDetails p{
        font-size: 16px;
        margin-top: 10px;
      }
  }
  